services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_frankenphp
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - /c/Docker_Other/Franken/laravel_container:/var/www/html
      - /c/Docker_Other/Franken/Docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
      - /c/Docker_Other/Franken/Docker/caddy/Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "8585:80"
    environment:
      - SERVER_NAME=localhost
      - CADDY_GLOBAL_OPTIONS=admin off
    networks:
      - laravel_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: laravel_franken_redis
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge

volumes:
  redis_data:
